<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="assets/logo.png" width="80px" />
      </div>
      <div class="search-bar">
        <input type="text" placeholder="O que seu pet precisa?" />
        <button type="submit">🔍</button>
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">Produtos</a></li>
          <li><a href="">Banho & Tosa</a></li>
          <li><a href="agendamento.html">Consultas</a></li>
          <li><a href="login/login.html">Conta</a></li>
        </ul>
      </nav>
      <a href="shopping-cart.html"
        ><img src="assets/cart.png" widht="30px" height="30px"
      /></a>
      <img src="assets/menu.png" class="menu-icon" onclick="menutoggle()" />
    </div>
  </div>
</div>
