<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Baixe nosso aplicativo</h3>
        <p>Baixe nosso aplicativo para Android e IOS.</p>
        <div class="app-logo">
          <img src="assets/play-store.png" />
          <img src="assets/app-store.png" />
        </div>
      </div>
      <div class="footer-col-2">
        <img src="assets/logo-footer.png" width="100px" />
        <p>Cuidamos de quem mais cuida de você.</p>
      </div>
      <div class="footer-col-3">
        <h3>Links Úteis</h3>
        <ul>
          <li>Cupons</li>
          <li>Blog de Vida e Saúde Pet</li>
          <li>Política de Cancelamento e Privacidade</li>
          <li>Increvase-se</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Nos siga nas redes</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Discord</li>
          <li>Instagram</li>
        </ul>
      </div>
    </div>
  </div>
</div>
