<app-header />

<div class="small-container">
  <div class="row row-2">
    <h2 class="title">Todos os produtos</h2>
    <select>
      <option>Sem filtro</option>
      <option>Filtrar por preço</option>
      <option>Filtrar por popularidade</option>
      <option>Filtrar por nota</option>
    </select>
  </div>

  <div class="row">
    <div class="col-4">
      <a href="products-details.html">
        <img src="assets/produto.jpeg" />
      </a>
      <h3>Produto</h3>
      <p>R$ 50.00</p>
    </div>
    <div class="col-4">
      <a href="products-details.html">
        <img src="assets/produto.jpeg" />
      </a>
      <h3>Produto</h3>
      <p>R$ 50.00</p>
    </div>
    <div class="col-4">
      <a href="products-details.html">
        <img src="assets/produto.jpeg" />
      </a>
      <h3>Produto</h3>
      <p>R$ 50.00</p>
    </div>
    <div class="col-4">
      <a href="products-details.html">
        <img src="assets/produto.jpeg" />
      </a>
      <h3>Produto</h3>
      <p>R$ 50.00</p>
    </div>
  </div>
  
  <div class="page-btn">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>►</span>
  </div>
</div>

<app-footer />
