<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-2">
        <a routerLink="/home">
        <img src="assets/logo-bege.png" width="150px" />
      </a>
      </div>
      <div class="footer-col-1">
        <h3>Casa do Pet</h3>
        <p>Onde os rabos abanam e os corações ronronam.</p>
      </div>
      <div class="footer-col-3">
        <h3>Links Úteis</h3>
        <ul>
          <li>Política de Cancelamento</li>
          <li>Política de Privacidade</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Siga-nos</h3>
        <ul>
          <li>Instagram</li>
        </ul>
      </div>
    </div>
  </div>
</div>
