a {
  color: #e6ded4;
  text-decoration: none;
}

p {
  color: #e6ded4;
  padding-left: 10px;
  text-align: justify;
}

ul {
  list-style-type: none;
}

.footer {
  background: #23282b;
  color: #e6ded4;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
  padding-left: 10px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  margin-bottom: 20px;
  min-width: 250px;
}

.footer-col-1 {
  flex-basis: 30%;
  text-align: left;
}

.footer-col-2 {
  flex: 1;
  text-align: right;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
.container {
  margin: auto;
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
