input:focus {
  outline: none;
}

h3 {
  color: #555;
  font-weight: bold;
}

.row {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.btn {
  background-color: #ffbe08;
  border-radius: 30px;
  color: black;
  display: inline-block;
  margin: 30px 0;
  padding: 8px 30px;
}

.small-container {
  margin: auto;
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  padding-left: 20px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-4 {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: 25%;
  margin-bottom: 10px;
  min-width: 200px;
  padding: 10px;
  transition: transform 0, 5s;
}

.col-4 img {
  width: 100%;
}

.title {
  color: #000000;
  line-height: 60px;
  margin: 0 auto 30px;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.title::after {
  background: #555;
  border-radius: 5px;
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

.col-2 .offer-img {
  padding: 50px;
}

.col-4 p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #fefaa1);
  margin-top: 80px;
}
