a {
  color: #23282b;
}

a img {
  padding-right: 10px;
}

.header {
  align-items: center;
  background: #f2b61b;
  justify-content: space-between;
}

.header-yellow {
  background: #fefaa1;
}

.header .row {
  margin-top: 70px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar {
  display: flex;

  align-items: center;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  align-items: center;
  background: #fff;
  border-radius: 25px;
  display: flex;
  margin-left: 30px;
  padding: 10px;
  width: 40%;
}

.search-bar input {
  background: transparent;
  border: none;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
.search-bar button img {
  align-content: space-around;
}
