<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a routerLink="/home">
          <img src="assets/logo.png" width="50px" />
        </a>
      </div>

      <div class="search-bar">
        <input type="text" placeholder="O que seu pet precisa?" />
        <button type="submit">
          <img src="assets/loop.png" widht="20px" height="20px" />
        </button>
      </div>

      <nav>
        <ul class="menu-items">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/produtos">Produtos</a></li>
          <li><a routerLink="/agendamento">Agendamentos</a></li>
        </ul>
      </nav>
      
      <a routerLink="/carrinho">
        <img src="assets/cart.png" widht="25px" height="25px" />
      </a>
      <a routerLink="/login">
        <img src="assets/user.png" widht="25px" height="25px" />
      </a>
    </div>
  </div>
</div>
