<app-header />

<div class="outer-container">
<div class="container">
  <h2>Agendamentos</h2>
  <form>
    <label for="agendamento">Tipo de agendamento:</label>
    <select id="agendamento" name="agendamento">
      <option value="consulta">Consulta</option>
    </select>

    <label for="profissional">Escolha o profissional:</label>
    <select [(ngModel)]="profissionalSelecionado" name="profissional" required>
      <option value="">---</option> <!-- Opção padrão vazia -->
      <option *ngFor="let profissional of profissionais" [value]="profissional.id">
    {{ profissional.nome }}
      </option>
    </select>

    <label for="data">Escolha o Dia:</label>
    <input type="date" id="data" value="2001-01-01" required />

    <label for="horario">Escolha o Horário:</label>
    <select id="horario" name="horario">
      <option value="09:00">09:00</option>
      <option value="10:00">10:00</option>
      <option value="11:00">11:00</option>
      <option value="14:00">14:00</option>
      <option value="15:00">15:00</option>
      <option value="16:00">16:00</option>
    </select>

    <button (click)="agendarConsulta()" class="botao-agendar">Agendar Consulta</button>
  </form>
</div>
</div>
<app-footer />
