h4 {
  color: black;
  font-weight: bold;
  
}

h2 {
  padding: 20px;
}

input:focus {
  outline: none;
}

select {
  border: 1px solid #f2b61b;
  padding: 5px;
}

select:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: #f2b61b;
  border-radius: 30px;
  color: black;
  display: inline-block;
  margin: 30px 0;
  padding: 8px 30px;
}

.container {
  margin: auto;
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  padding-left: 20px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-4 {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: 25%;
  margin-bottom: 50px;
  min-width: 200px;
  padding: 10px;
  transition: transform 0, 5s;
}

.col-4 p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-5px);
}

.col-4 img {
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.row-2{
  justify-content: space-between;
  margin: 100px auto 50 px;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  border: 1px solid #f2b61b;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  text-align: center;
  width: 40px;
}

.page-btn span:hover {
  background-color: #f2b61b;
  color: #fff;
}

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.single-product select {
  display: block;
  margin-top: 20px;
  padding: 10px;
}

.single-product input {
  border: 1px solid #f2b61b;
  display: flex;
  font-size: 15px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  text-align: center;
  width: 50px;
}

.small-container {
  margin: auto;
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  color: #e6ded4;
  line-height: 60px;
  margin: 0 auto 80px;
  position: relative;
  text-align: center;
}

.title::after {
  background: black;
  border-radius: 5px;
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 80px;
}
