<app-header />

<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="assets/produto-2.webp" width="100%" />
    </div>
    <div class="col-2">
      <h1>{{ product.nome }}</h1>
      <h4><strong>R$ </strong>{{ product.preco }}</h4>
      <!-- <select>
        <option>Selecione um tamanho</option>
        <option>XXL</option>
        <option>XL</option>
        <option>Medium</option>
        <option>Small</option>
      </select> -->
      <input type="number" value="1" />
      <a href="" class="btn">Adicionar ao carrinho</a>
      <ul>
        <li><h3>Detalhes do Produto</h3></li>
      </ul>
      <br />
      <p>{{product.descricao}}
      </p>
      <p></p>
    </div>
  </div>
</div>

<div class="small-container-2">
  <div class="row row-2">
    <h2>Produtos Relacionados</h2>
  </div>
</div>

<div class="small-container">
  <div class="row">
    <app-produto-cards></app-produto-cards>
  </div>

  <div class="page-btn">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>►</span>
  </div>
</div>

<app-footer />
