<app-header />

<div class="small-container">
  <h2 class="title">Mais Vendidos</h2>
  <div class="row">
    <app-produto-cards *ngFor="let product of products" [product]="product">
    </app-produto-cards>
  </div>
  <h2 class="title">Lançamentos</h2>
  <app-produto-cards *ngFor="let product of products" [product]="product">
  </app-produto-cards>
</div>

<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="assets/veterinario.png" class="offer-img" />
      </div>
      <div class="col-2">
        <p>Marque Sua Consulta</p>
        <h2>Agende uma Consulta</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <br />
        <a routerLink="/agendamento" class="btn">Agende Agora ►</a>
      </div>
    </div>
  </div>
</div>

<app-footer />
