<app-header />

<div class="small-container">
  <h2 class="title">Produtos Disponíveis</h2>
  <div class="row">
    <div class="card-produto" *ngFor="let product of products">
      <a href="products-details.html">
        <img [src]="product.imagem || 'assets/produto.jpeg'" alt="{{ product.nome }}" />
      </a>
      <h3>{{ product.nome }}</h3>
      <div class="rating">
        ⭐⭐⭐⭐⭐
      </div>
      <p class="preco">{{ product.preco | currency:'BRL' }}</p>
      <button class="botao-adicionar">Adicionar ao Carrinho</button>
      <button class="botao-adicionar">Comprar Agora</button>
    </div>
  </div>
</div>

<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="assets/veterinario.png" class="offer-img" />
      </div>
      <div class="col-2">
        <p>Agende uma Consulta</p>
        <h2>Seu pet protegido sempre</h2>
        <p>
          Atendemos de forma acolhedora, sempre atentos às mais modernas
          práticas em medicina veterinária para oferecer o que há de melhor.
        </p>
        <br />
        <a routerLink="/agendamento" class="btn">Agendar consulta</a>
      </div>
    </div>
  </div>
</div>

<app-footer />
