<app-header />

<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="assets/veterinario.png" class="offer-img" />
      </div>
      <div class="col-2">
        <p>Agende uma Consulta</p>
        <h2>Seu pet protegido sempre</h2>
        <p>
          Atendemos de forma acolhedora, sempre atentos às mais modernas
          práticas em medicina veterinária para oferecer o que há de melhor.
        </p>
        <br />
        <a routerLink="/agendamento" class="btn">Agendar consulta</a>
      </div>
    </div>
  </div>
</div>
<div class="small-container">
  <h2 class="title">Produtos</h2>
  <div class="row" *ngForOf="let product of products">
    <app-produto-cards>
    </app-produto-cards>
  </div>
</div>


<app-footer />
