<app-header />

<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="assets/produto-2.webp" width="100%" />
    </div>
    <div class="col-2">
      <h1>Produto</h1>
      <h4>R$50.00</h4>
      <select>
        <option>Selecione um tamanho</option>
        <option>XXL</option>
        <option>XL</option>
        <option>Medium</option>
        <option>Small</option>
      </select>
      <input type="number" value="1" />
      <a href="" class="btn">Adicionar ao carrinho</a>
      <ul>
        <li><h3>Detalhes do Produto</h3></li>
      </ul>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eum labore
        odit mollitia sed laborum numquam voluptatibus ea atque rem delectus,
        cupiditate praesentium assumenda accusamus id quas accusantium neque
        reiciendis.
      </p>
      <p></p>
    </div>
  </div>
</div>

<div class="small-container">
  <div class="small-container">
    <div class="row row-2">
      <h2>Produtos Relacionados</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <img src="assets/produto.jpeg" />
      <h4>Nome Produto</h4>
      <p>R$ 50.00</p>
    </div>
    <div class="col-4">
      <img src="assets/produto.jpeg" />
      <h4>Nome Produto</h4>
      <p>R$ 50.00</p>
    </div>
    <div class="col-4">
      <img src="assets/produto.jpeg" />
      <h4>Nome Produto</h4>
      <p>R$ 50.00</p>
    </div>
    <div class="col-4">
      <img src="assets/produto.jpeg" />
      <h4>Nome Produto</h4>
      <p>R$ 50.00</p>
    </div>
  </div>
  <div class="page-btn">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>&#8594;</span>
  </div>
</div>

<app-footer />
