<app-header />

<div class="outer-container">
  <div class="container">
    <h2>Cadastro</h2>
    <form>
      <label for="Name">Nome do tutor:</label>
      <input type="name" required />

      <label for="NamePet">Nome do pet:</label>
      <input type="name" required />

      <label for="email">Email:</label>
      <input type="email" required />

      <label for="password">Senha:</label>
      <input type="password" required />

      <label for="password">Confirmar senha:</label>
      <input type="password" required />

      <button type="submit">Cadastrar</button>
    </form>
    <p>
      Já tem uma conta? <br />
      <a routerLink="/login">Fazer Login</a>
    </p>
  </div>
</div>
<app-footer />
